In [1]:
import numpy as np
import pandas as pd

In [2]:
st = pd.Series([1, 2, 3, 4])
st

0    1
1    2
2    3
3    4
dtype: int64

In [3]:
print(type(st))

<class 'pandas.core.series.Series'>

In [4]:
st.values

array([1, 2, 3, 4], dtype=int64)

In [5]:
st.index

RangeIndex(start=0, stop=4, step=1)

In [6]:
st.index.values

array([0, 1, 2, 3], dtype=int64)

In [8]:
type(st.values)

numpy.ndarray

In [9]:
st.index

RangeIndex(start=0, stop=4, step=1)

In [11]:
s3 = pd.Series(np.arange(1, 100, 2), np.arange(1, 51))
s3

1      1
2      3
3      5
4      7
5      9
6     11
7     13
8     15
9     17
10    19
11    21
12    23
13    25
14    27
15    29
16    31
17    33
18    35
19    37
20    39
21    41
22    43
23    45
24    47
25    49
26    51
27    53
28    55
29    57
30    59
31    61
32    63
33    65
34    67
35    69
36    71
37    73
38    75
39    77
40    79
41    81
42    83
43    85
44    87
45    89
46    91
47    93
48    95
49    97
50    99
dtype: int32

In [12]:
# datatype 지정
s4 = pd.Series( [1, 2, 3, 4, 5], dtype=object)
print(s4)
s5 = pd.Series( [1, 2, 3, 4, 5], dtype=float)
print(s5)
s6 = pd.Series( [1, 2, 3, 4, 5], dtype=int)
print(s6)

0    1
1    2
2    3
3    4
4    5
dtype: object