In [1]:
import numpy as np
import pandas as pd
import matplotlib.pylab as plt

In [2]:
# csv파일 불러오기(한글깨짐 현상 해결)
df = pd.read_csv('./fire_2019_eng.csv',sep=',',encoding='CP949')
df

,Date,SiDo,SiGunGu,EupMyeonDong,Type,Source1,Source2,Cause1,Cause2,Start1,Start2,Members,Death,Injury,Moneys,Area1,Area2,Area3
0,2019-01-01 0:03,강원도,삼척시,오분동,기타(쓰레기 화재등),"폭발물, 폭죽",폭죽,부주의,폭죽놀이,"종이,목재,건초등","풀, 나뭇잎",1,0,1,0,기타,야외,기타야외
1,2019-01-01 0:06,경기도,평택시,안중읍,"건축,구조물",미상,미상,미상,미상,미상,미상,0,0,0,14900,주거,단독주택,단독주택
2,2019-01-01 0:40,서울특별시,성북구,하월곡동,"자동차,철도차량",미상,미상,미상,미상,미상,미상,0,0,0,3642,"자동차,철도차량",자동차,승용자동차
3,2019-01-01 0:52,경기도,이천시,설성면,기타(쓰레기 화재등),화학적 발화열,화학반응열,화학적 요인,자연발화,"종이,목재,건초등","풀, 나뭇잎",0,0,0,1848,기타,야외,야적장
4,2019-01-01 1:06,부산광역시,부산진구,당감동,"건축,구조물",작동기기,기타(작동기기),전기적 요인,절연열화에 의한 단락,"전기,전자","전기, 전자기기 기판",0,0,0,45,기타서비스,기타건축물,기타 건축물
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
40098,2019-12-31 22:33,경기도,파주시,광탄면,"건축,구조물",작동기기,전기적 아크(단락),전기적 요인,접촉불량에 의한 단락,"전기,전자",전선피복,0,0,0,23707,산업시설,공장시설,제재 및 목공업
40099,2019-12-31 22:45,경상북도,경산시,남방동,"건축,구조물",미상,미상,미상,미상,"종이,목재,건초등",건초,0,0,0,3542,산업시설,동식물시설,기타 동식물시설
40100,2019-12-31 22:47,부산광역시,남구,문현동,"건축,구조물",작동기기,"기기 전도,복사열",부주의,음식물 조리중,식품,튀김유,0,0,0,0,"판매,업무시설",일반업무,오피스텔
40101,2019-12-31 23:05,제주특별자치도,제주시,외도일동,"건축,구조물",작동기기,"기기 전도,복사열",부주의,가연물 근접방치,합성수지,"플라스틱, PVC, 비닐, 장판",0,0,0,105,"판매,업무시설",판매시설,할인점(마트)
40102,2019-12-31 23:18,인천광역시,남동구,고잔동,"건축,구조물",작동기기,전기적 아크(단락),전기적 요인,"압착,손상에 의한 단락","전기,전자",전선피복,0,0,0,3879,산업시설,공장시설,"전기, 전자공업"

In [3]:
# 일시를 datetime형으로 변경
df['Date'] = pd.to_datetime(df['Date'], format='%Y-%m-%d %H:%M:%S', errors='raise')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 40103 entries, 0 to 40102
Data columns (total 18 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Date          40103 non-null  datetime64[ns]
 1   SiDo          40103 non-null  object
 2   SiGunGu       40103 non-null  object
 3   EupMyeonDong  40103 non-null  object
 4   Type          40103 non-null  object
 5   Source1       40103 non-null  object
 6   Source2       40103 non-null  object
 7   Cause1        40103 non-null  object
 8   Cause2        40103 non-null  object
 9   Start1        40103 non-null  object
 10  Start2        40103 non-null  object
 11  Members       40103 non-null  int64
 12  Death         40103 non-null  int64
 13  Injury        40103 non-null  int64
 14  Moneys        40103 non-null  int64
 15  Area1         40103 non-null  object
 16  Area2         40103 non-null  object
 17  Area3         40103 non-null  object
dtypes: datetime64[ns](1), int64(4), object(13)
memory usage: 5.5+ MB

In [4]:
# 화재발생일시의 값을 "년, 월, 일, 시, 분, 요일"로 분리하여 데이터 추가
df['year'] = df['Date'].dt.year
df['month'] = df['Date'].dt.month
df['day'] = df['Date'].dt.day
df['hour'] = df['Date'].dt.hour
df['minute'] = df['Date'].dt.minute
df['weekday'] = df['Date'].dt.weekday
df

,Date,SiDo,SiGunGu,EupMyeonDong,Type,Source1,Source2,Cause1,Cause2,Start1,...,Moneys,Area1,Area2,Area3,year,month,day,hour,minute,weekday
0,2019-01-01 00:03:00,강원도,삼척시,오분동,기타(쓰레기 화재등),"폭발물, 폭죽",폭죽,부주의,폭죽놀이,"종이,목재,건초등",...,0,기타,야외,기타야외,2019,1,1,0,3,1
1,2019-01-01 00:06:00,경기도,평택시,안중읍,"건축,구조물",미상,미상,미상,미상,미상,...,14900,주거,단독주택,단독주택,2019,1,1,0,6,1
2,2019-01-01 00:40:00,서울특별시,성북구,하월곡동,"자동차,철도차량",미상,미상,미상,미상,미상,...,3642,"자동차,철도차량",자동차,승용자동차,2019,1,1,0,40,1
3,2019-01-01 00:52:00,경기도,이천시,설성면,기타(쓰레기 화재등),화학적 발화열,화학반응열,화학적 요인,자연발화,"종이,목재,건초등",...,1848,기타,야외,야적장,2019,1,1,0,52,1
4,2019-01-01 01:06:00,부산광역시,부산진구,당감동,"건축,구조물",작동기기,기타(작동기기),전기적 요인,절연열화에 의한 단락,"전기,전자",...,45,기타서비스,기타건축물,기타 건축물,2019,1,1,1,6,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
40098,2019-12-31 22:33:00,경기도,파주시,광탄면,"건축,구조물",작동기기,전기적 아크(단락),전기적 요인,접촉불량에 의한 단락,"전기,전자",...,23707,산업시설,공장시설,제재 및 목공업,2019,12,31,22,33,1
40099,2019-12-31 22:45:00,경상북도,경산시,남방동,"건축,구조물",미상,미상,미상,미상,"종이,목재,건초등",...,3542,산업시설,동식물시설,기타 동식물시설,2019,12,31,22,45,1
40100,2019-12-31 22:47:00,부산광역시,남구,문현동,"건축,구조물",작동기기,"기기 전도,복사열",부주의,음식물 조리중,식품,...,0,"판매,업무시설",일반업무,오피스텔,2019,12,31,22,47,1
40101,2019-12-31 23:05:00,제주특별자치도,제주시,외도일동,"건축,구조물",작동기기,"기기 전도,복사열",부주의,가연물 근접방치,합성수지,...,105,"판매,업무시설",판매시설,할인점(마트),2019,12,31,23,5,1
40102,2019-12-31 23:18:00,인천광역시,남동구,고잔동,"건축,구조물",작동기기,전기적 아크(단락),전기적 요인,"압착,손상에 의한 단락","전기,전자",...,3879,산업시설,공장시설,"전기, 전자공업",2019,12,31,23,18,1

In [8]:
plt.rc('font', family='Malgun Gothic') # 그래프 한글깨짐 해결
plt.rcParams['axes.grid'] = False # 눈금표시 제거

# [S] 시각화 할 데이터 추출
gb1 = df.groupby(by='month')

fireData = gb1[['Date']].count()
fireData

       Date
month
1      4430
2      3413
3      4267
4      3611
5      3990
6      2862
7      2956
8      2888
9      2703
10     2797
11     2949
12     3237

In [9]:
gb1 = df.groupby(by='month')
gb1

In [10]:
gb1.count()

,Date,SiDo,SiGunGu,EupMyeonDong,Type,Source1,Source2,Cause1,Cause2,Start1,...,Injury,Moneys,Area1,Area2,Area3,year,day,hour,minute,weekday
month,,,,,,,,,,,,,,,,,,,,,
1,4430,4430,4430,4430,4430,4430,4430,4430,4430,4430,...,4430,4430,4430,4430,4430,4430,4430,4430,4430,4430
2,3413,3413,3413,3413,3413,3413,3413,3413,3413,3413,...,3413,3413,3413,3413,3413,3413,3413,3413,3413,3413
3,4267,4267,4267,4267,4267,4267,4267,4267,4267,4267,...,4267,4267,4267,4267,4267,4267,4267,4267,4267,4267
4,3611,3611,3611,3611,3611,3611,3611,3611,3611,3611,...,3611,3611,3611,3611,3611,3611,3611,3611,3611,3611
5,3990,3990,3990,3990,3990,3990,3990,3990,3990,3990,...,3990,3990,3990,3990,3990,3990,3990,3990,3990,3990
6,2862,2862,2862,2862,2862,2862,2862,2862,2862,2862,...,2862,2862,2862,2862,2862,2862,2862,2862,2862,2862
7,2956,2956,2956,2956,2956,2956,2956,2956,2956,2956,...,2956,2956,2956,2956,2956,2956,2956,2956,2956,2956
8,2888,2888,2888,2888,2888,2888,2888,2888,2888,2888,...,2888,2888,2888,2888,2888,2888,2888,2888,2888,2888
9,2703,2703,2703,2703,2703,2703,2703,2703,2703,2703,...,2703,2703,2703,2703,2703,2703,2703,2703,2703,2703
10,2797,2797,2797,2797,2797,2797,2797,2797,2797,2797,...,2797,2797,2797,2797,2797,2797,2797,2797,2797,2797
11,2949,2949,2949,2949,2949,2949,2949,2949,2949,2949,...,2949,2949,2949,2949,2949,2949,2949,2949,2949,2949
12,3237,3237,3237,3237,3237,3237,3237,3237,3237,3237,...,3237,3237,3237,3237,3237,3237,3237,3237,3237,3237

In [11]:
gb2 = df.groupby(['month'])
gb2.count()

,Date,SiDo,SiGunGu,EupMyeonDong,Type,Source1,Source2,Cause1,Cause2,Start1,...,Injury,Moneys,Area1,Area2,Area3,year,day,hour,minute,weekday
month,,,,,,,,,,,,,,,,,,,,,
1,4430,4430,4430,4430,4430,4430,4430,4430,4430,4430,...,4430,4430,4430,4430,4430,4430,4430,4430,4430,4430
2,3413,3413,3413,3413,3413,3413,3413,3413,3413,3413,...,3413,3413,3413,3413,3413,3413,3413,3413,3413,3413
3,4267,4267,4267,4267,4267,4267,4267,4267,4267,4267,...,4267,4267,4267,4267,4267,4267,4267,4267,4267,4267
4,3611,3611,3611,3611,3611,3611,3611,3611,3611,3611,...,3611,3611,3611,3611,3611,3611,3611,3611,3611,3611
5,3990,3990,3990,3990,3990,3990,3990,3990,3990,3990,...,3990,3990,3990,3990,3990,3990,3990,3990,3990,3990
6,2862,2862,2862,2862,2862,2862,2862,2862,2862,2862,...,2862,2862,2862,2862,2862,2862,2862,2862,2862,2862
7,2956,2956,2956,2956,2956,2956,2956,2956,2956,2956,...,2956,2956,2956,2956,2956,2956,2956,2956,2956,2956
8,2888,2888,2888,2888,2888,2888,2888,2888,2888,2888,...,2888,2888,2888,2888,2888,2888,2888,2888,2888,2888
9,2703,2703,2703,2703,2703,2703,2703,2703,2703,2703,...,2703,2703,2703,2703,2703,2703,2703,2703,2703,2703
10,2797,2797,2797,2797,2797,2797,2797,2797,2797,2797,...,2797,2797,2797,2797,2797,2797,2797,2797,2797,2797
11,2949,2949,2949,2949,2949,2949,2949,2949,2949,2949,...,2949,2949,2949,2949,2949,2949,2949,2949,2949,2949
12,3237,3237,3237,3237,3237,3237,3237,3237,3237,3237,...,3237,3237,3237,3237,3237,3237,3237,3237,3237,3237