In [2]:
#import pymongo
from pymongo import MongoClient

In [4]:
# client = MongoClient('localhost', 27017)
client = MongoClient('mongodb://localhost:27017')

In [5]:
#db = client.test_database
db = client['test_database']

In [6]:
collection = db['test_collection']

## insert_one : 한 건 입력

In [8]:
data_dic = {'name': '홍길동', 'age': 17}

In [9]:
re_data_dic = collection.insert_one(data_dic)

In [25]:
print(re_data_dic)
re_data_dic.inserted_id

<pymongo.results.InsertOneResult object at 0x00000188858D5080>

ObjectId('6168ea990a06ea7033eb9e32')

In [13]:
data_dic2 = {'name': '김길동', 'age': 15}

In [14]:
re2 = collection.insert_one(data_dic2)

## insert_many - 여러건 insert

In [16]:
data_list = [
    {'name': '이길동', 'age': 25},
    {'name': '박길동', 'age': 31},
    {'name': '정길동', 'age': 35} 
]

In [17]:
re_3 = collection.insert_many(data_list)

In [18]:
re_3.inserted_ids

[ObjectId('6168ed430a06ea7033eb9e34'),
 ObjectId('6168ed430a06ea7033eb9e35'),
 ObjectId('6168ed430a06ea7033eb9e36')]

# find_one.find

In [20]:
sr1 = collection.find_one()
sr1

{'_id': ObjectId('6168ea990a06ea7033eb9e32'), 'name': '홍길동', 'age': 17}

In [21]:
sr2 = collection.find()
sr2

In [22]:
for sr2_item in sr2:
    print(sr2_item)

{'_id': ObjectId('6168ea990a06ea7033eb9e32'), 'name': '홍길동', 'age': 17}
{'_id': ObjectId('6168ec5d0a06ea7033eb9e33'), 'name': '김길동', 'age': 15}
{'_id': ObjectId('6168ed430a06ea7033eb9e34'), 'name': '이길동', 'age': 25}
{'_id': ObjectId('6168ed430a06ea7033eb9e35'), 'name': '박길동', 'age': 31}
{'_id': ObjectId('6168ed430a06ea7033eb9e36'), 'name': '정길동', 'age': 35}

### 참조 자료: https://sikaleo.tistory.com/51


- 조건

In [26]:
# where name = '홍길동'
srs = collection.find({'name' : '홍길동'})
for sr in srs:
    print(sr)

{'_id': ObjectId('6168ea990a06ea7033eb9e32'), 'name': '홍길동', 'age': 17}

In [27]:
# where name = '홍길동' and age = 17
srs = collection.find({'name': '홍길동', 'age': 17})
for sr in srs:
    print(sr)

{'_id': ObjectId('6168ea990a06ea7033eb9e32'), 'name': '홍길동', 'age': 17}

In [30]:
# where age >= 17
srs = collection.find({ 'age': {'$gte':17} })
for sr in srs:
    print(sr)

{'_id': ObjectId('6168ea990a06ea7033eb9e32'), 'name': '홍길동', 'age': 17}
{'_id': ObjectId('6168ed430a06ea7033eb9e34'), 'name': '이길동', 'age': 25}
{'_id': ObjectId('6168ed430a06ea7033eb9e35'), 'name': '박길동', 'age': 31}
{'_id': ObjectId('6168ed430a06ea7033eb9e36'), 'name': '정길동', 'age': 35}

In [34]:
# select name from collection where and age >= 17
srs = collection.find({'age' : {'$gte': 17}}, {'name':1, '_id':0 })
for sr in srs:
    print(sr)

{'name': '홍길동'}
{'name': '이길동'}
{'name': '박길동'}
{'name': '정길동'}

- update_one, update_many

In [35]:
# update
collection.update_one( {'name': '홍길동'}, {'$set': {'age': 18}})

In [38]:
srs = collection.find({'name': '홍길동'})
for sr in srs:
    print(sr)

{'_id': ObjectId('6168ea990a06ea7033eb9e32'), 'name': '홍길동', 'age': 18}

In [40]:
# 나이가 30보다 많은 사람의 나이를 31로 update 하세요
collection.update_many( { 'age': {'$gt': 30} }, {'$set': {'age': 31} } )

In [41]:
srs = collection.find()
for sr in srs:
    print(sr)

{'_id': ObjectId('6168ea990a06ea7033eb9e32'), 'name': '홍길동', 'age': 18}
{'_id': ObjectId('6168ec5d0a06ea7033eb9e33'), 'name': '김길동', 'age': 15}
{'_id': ObjectId('6168ed430a06ea7033eb9e34'), 'name': '이길동', 'age': 25}
{'_id': ObjectId('6168ed430a06ea7033eb9e35'), 'name': '박길동', 'age': 31}
{'_id': ObjectId('6168ed430a06ea7033eb9e36'), 'name': '정길동', 'age': 31}

#### delete, delete_many

In [42]:
collection.delete_one( {'name': '홍길동'})

In [43]:
srs = collection.find()
for sr in srs:
    print(sr)

{'_id': ObjectId('6168ec5d0a06ea7033eb9e33'), 'name': '김길동', 'age': 15}
{'_id': ObjectId('6168ed430a06ea7033eb9e34'), 'name': '이길동', 'age': 25}
{'_id': ObjectId('6168ed430a06ea7033eb9e35'), 'name': '박길동', 'age': 31}
{'_id': ObjectId('6168ed430a06ea7033eb9e36'), 'name': '정길동', 'age': 31}

In [44]:
collection.delete_many( {'age': {'$gte': 31}})

In [45]:
srs = collection.find()
for sr in srs:
    print(sr)

{'_id': ObjectId('6168ec5d0a06ea7033eb9e33'), 'name': '김길동', 'age': 15}
{'_id': ObjectId('6168ed430a06ea7033eb9e34'), 'name': '이길동', 'age': 25}